# Node.js
node_modules/
dist/
pnpm-lock.yaml

# Python
__pycache__/
.venv/
.env

# Logs
*.log

# Docker
docker_pgdata/

# Ignore environment config
.env

.idea/*
apps/agentic-core/esco/v1/esco_master_full.json