node_modules
.env


# Python
__pycache__/
*.pyc
.venv/
.env
.env.local
*.log

# Build artifacts
dist/
build/
*.egg-info/

# VSCode, Mac, etc
.DS_Store
.vscode/
.idea/


# Ignore environment config
.env


esco/v1/esco_master_full.json